body {
	background-color: moccasin;
}

input {
	width: 5%;
	text-align: center;
}

#horizontal-slide, #vertical-slide {
	width: 15%;
}

.box {
	padding: 10px;
	margin: 10px;
	background-color: lightyellow;
}

.btn {
	margin: 20px 5px 0px 5px;
	font-size: 20px;
}

#title {
}

#canvas {
}

#transformations, #translation, #reflection, #rotation, .new-triangle {
	display: none;
}

