@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #F3DFC1
} 

.name {
  font-size: 240%;
  margin-top: 0;
}

hr {
  max-width: 60%;
  border-top: 2px solid;
  margin-top: 12px;
  margin-bottom: 8px;
}

#projects, #rocksbox-projects, #resume, #bio, #contact {
  display: none;
}

.side-panel {
  position: relative;
}

.side-panel .center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 100%;
}

.project-images {
  border: 1px solid darkgray;
}

.img-1, .img-2, .img-3, .img-4, .img-5 {
  display: none;
}

.full-height {
  height: 100vh;
  overflow-y: scroll;
}

.full-height::-webkit-scrollbar {
  display: none;
}

.social-buttons-3, .social-buttons-4 {
  margin: 10px auto;
}

.button-link {
  position: relative;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

.button-link i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headshot {
  max-width: 60%;
  margin: 0 auto;
}

.headshot-image {
  max-height: 240px;
  margin: 0 auto;
}

/*.links {
  margin-bottom: 60px;
}
*/
/*darkest*/
.text-color-1            { color: #160F29; }
a:hover, .pagelink:hover { color: #160F29; text-decoration: none; }

.btn-primary:hover,
.btn-primary:focus
              { background-color: #246A73 !important;
                    border-color: #246A73 !important; }
.background-1 { background-color: #246A73; }
.btn-default             { color: #246A73 !important; }
.text-color-3            { color: #246A73; }
a, .pagelink             { color: #246A73; }

.text-color-2            { color: #368F8B; }
.btn-primary  { background-color: #368F8B !important;
                    border-color: #368F8B !important; }
.btn-default:hover,
.btn-default:focus
              { background-color: #DDBEA8 !important;
                    border-color: #DDBEA8 !important; }
.background-3 { background-color: #DDBEA8; }

.well         { background-color: #F3DFC1; }
.background-2 { background-color: #F3DFC1; }
.btn-primary             { color: #F3DFC1 !important; }
.btn-default  { background-color: #F3DFC1 !important;
                    border-color: #F3DFC1 !important; }
.text-color-4            { color: #F3DFC1; }
/*lightest*/

.p8 { padding: 8px; }
.p16 { padding:16px; }
.p24 { padding:24px; }
.p32 { padding:32px; }
.p40 { padding:40px; }
.pt8 { padding-top: 8px; }
.pt16 { padding-top:16px; }
.pt24 { padding-top:24px; }
.pt32 { padding-top:32px; }
.pt40 { padding-top:40px; }
.pb8 { padding-bottom: 8px; }
.pb16 { padding-bottom:16px; }
.pb24 { padding-bottom:24px; }
.pb32 { padding-bottom:32px; }
.pb40 { padding-bottom:40px; }
.pb80 { padding-bottom:80px; }
.plr8 { padding-left: 8px; padding-right: 8px}
.plr16 { padding-left:16px; padding-right: 16px}
.plr24 { padding-left:24px; padding-right: 24px}
.plr32 { padding-left:32px; padding-right: 32px}
.plr40 { padding-left:40px; padding-right: 40px}
.mb8 { margin-bottom: 8px; }
.mb16 { margin-bottom:16px; }
.mb24 { margin-bottom:24px; }
.mb32 { margin-bottom:32px; }
.mb40 { margin-bottom:40px; }
.mt0 { margin-top: 0 }
.mt8 { margin-top: 8px; }
.mt16 { margin-top:16px; }
.mt24 { margin-top:24px; }
.mt32 { margin-top:32px; }
.mt40 { margin-top:40px; }

.tmp-hidden { display: none; }

/* bootstrap overrides */
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
}

.inline {
  display: inline;
}

.row {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.well {
  border-radius: 0;
  border: none;
  margin: 16px;
  box-shadow: none;
}