@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
  font-size: 24px;
}

.navbar-margin {
  padding: 35px;
}

.purple {
  color: purple;
}

.red {
  color: brown;
}

.black {
  background-color: black;
}

.white {
  color: white;
}

.navlink {
  color: #F5F5F5 !important;
}

.navlink:hover {
  color: maroon !important;
}

a, .pagelink {
  color: brown;
}

a:hover, .pagelink:hover {
  color: maroon;
  text-decoration: none;
}

#projects, #resume, #bio, #contact {
  display: none;
}

.btn-default {
  background-color: brown !important;
  color: black;
}

.btn-default:hover, .btn-default:focus {
  background-color: maroon !important;
}

.project-images {
  border: 1px solid darkgray;
}

.img-2, .img-3, .img-4, .img-5, .img-1 {
  display: none;
}

.well2 {
  padding: 40px;
}

.buttonlinks {
  border-radius: 25px;
  height: 50px !important;
  padding: 10px;
}