@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
} 

hr {
  max-width: 60%;
  border-top: 1px solid;
  margin-top: 12px;
  margin-bottom: 8px;
}

.side-panel {
  position: relative;
}

.side-panel .center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 100%;
}

.project-images {
  border: 1px solid darkgray;
}

.full-height {
  height: 100vh;
  overflow-y: scroll;
}

.full-height::-webkit-scrollbar {
  display: none;
}

.social-buttons-3, .social-buttons-4 {
  margin: 10px auto;
}

.button-link {
  position: relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

.button-link i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 845px) {
  .button-link:hover i {
    font-size: 2.3em;
  }
}

.headshot {
  max-width: 60%;
  margin: 0 auto;
}

.headshot-image {
  max-height: 240px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .headshot-image {
    max-height: 180px;
  }
}

/*
purple: dark  = 630899;
purple: light = 7b00c4;
pink:   dark  = b5006a;
pink:   hot   = db0080;
pink:   light = ffd5ff;
*/


p, .font-black               { color: #160F29; }
.font-highlight              { color: #7B00C4; }
.font-secondary              { color: #B5006A; }
.font-light                  { color: #FFD5FF; }
a, .page-link                { color: #DB0080; }
a:hover, .page-link:hover    { color: #B5006A; text-decoration: none; }
.dark-background  { background-color: #630899; }
.white-background { background-color: #ffffff; }
.btn-default      { background-color: #FFD5FF !important;
                        border-color: #FFD5FF !important;
                               color: #630899 !important; }
.btn-default:hover,.btn-default:focus
                  { background-color: #DB0080 !important;
                        border-color: #DB0080 !important; }
.well             { background-color: #FFD5FF;
              box-shadow: 2px 2px 4px #DB0080; }

.p8 { padding: 8px; }
.p16 { padding:16px; }
.p24 { padding:24px; }
.p32 { padding:32px; }
.p40 { padding:40px; }
.pt0 { padding-top: 0; }
.pt8 { padding-top: 8px; }
.pt16 { padding-top:16px; }
.pt24 { padding-top:24px; }
.pt32 { padding-top:32px; }
.pt40 { padding-top:40px; }
.pb8 { padding-bottom: 8px; }
.pb16 { padding-bottom:16px; }
.pb24 { padding-bottom:24px; }
.pb32 { padding-bottom:32px; }
.pb40 { padding-bottom:40px; }
.pb80 { padding-bottom:80px; }
.plr8 { padding-left: 8px; padding-right: 8px}
.plr16 { padding-left:16px; padding-right: 16px}
.plr24 { padding-left:24px; padding-right: 24px}
.plr32 { padding-left:32px; padding-right: 32px}
.plr40 { padding-left:40px; padding-right: 40px}
.mb8 { margin-bottom: 8px; }
.mb16 { margin-bottom:16px; }
.mb24 { margin-bottom:24px; }
.mb32 { margin-bottom:32px; }
.mb40 { margin-bottom:40px; }
.mt0 { margin-top: 0 }
.mt8 { margin-top: 8px; }
.mt16 { margin-top:16px; }
.mt24 { margin-top:24px; }
.mt32 { margin-top:32px; }
.mt40 { margin-top:40px; }

/* bootstrap overrides */
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
}

.inline { display: inline; }
.flex { display: flex; }
.tmp-hidden { display: none; }

.row { margin: 0; }
.no-padding { padding: 0; }
.no-margin { margin: 0; }

.well {
  border-radius: 0;
  border: none;
  margin: 0 16px 16px;
}